spring:
  application:
    name: config-server

server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ChSaimanikanta/glowkart-config-repo.git
          clone-on-start: true
          default-label: main

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
